<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>286233414257-c7184dfqf4hiqm73e8cue6lnfhm3v09n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.286233414257-c7184dfqf4hiqm73e8cue6lnfhm3v09n</string>
	<key>API_KEY</key>
	<string>AIzaSyAiqBA10PF8Pii2zjiwq_0dxlKcTQQEwIc</string>
	<key>GCM_SENDER_ID</key>
	<string>286233414257</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.inadev.FireBasePushNotification</string>
	<key>PROJECT_ID</key>
	<string>fir-push-notification-8538d</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-push-notification-8538d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:286233414257:ios:8f67194c769a03d4</string>
	<key>DATABASE_URL</key>
	<string>https://fir-push-notification-8538d.firebaseio.com</string>
</dict>
</plist>